#noteform{
    display: flex;
    flex-direction: column;
    width: 200px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(39, 39, 39, 0.979);
    font-weight: 100;
    align-items: center;
}
/* #textarea{
    width: 250px;
    height: 100px;
} */
.pinned-icon{
    position: absolute;
    top: 10px;
    right: 10px;
}
.tag{
    position: absolute;
    top: 10px;
    left: 10px;
}